img { height: 50px;}
body { background-color: RGB(199, 160, 44);} 
h1 { Color: White; Size: 15 PX; Font: Times New Roman; font-weight: bold}
h3 { Color: Black; Size: 12 px; Font: Arial;} 
h2 { Color: Red; Size: 13 px; Font: Calibri;}  
h4 { Color: Pink; size: 12px; Font: Silom;}
p { Color: Black; Size: 11px; Font: Times New Roman;}
table {border: 4 px solid black;
      border-collapse: collapse;
      padding-left: 2px;
      padding-right: 2px;
      padding-top: 2px;
      padding-bottom: 2px;
      text-align: center;} 
th { border: 2 px solid red;}
